
  // 自定义滚动条
  .custom-scroll {
    &.overlay-y {
      overflow-y: auto;
      overflow-y: overlay;
    }
  
    &.overlay-x {
      overflow-x: auto;
      overflow-x: overlay;
    }
  
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: rgb(0 0 0 / 20%);
    }
  
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
  

  
 
  
 
  